/* header{
    direction: rtl;
} */

body{
    direction: rtl;
}
.navbar{
    background-color: #f3f9fe;
    overflow: hidden;
    position: sticky;
}
#OurName{
    position: relative;
    margin:auto;
    text-align: center;
}
#CompanyName{
    display: none;
}
#text{
    display: none;
}
#FirstPic{
    height: 350px;
    width: 100%;
}
.float-right{
float: right;
width:110px;
}
#dani{
    display: none;
    text-align: center;
    position: relative;
    top: 95px;
}
#moshe{
    display: none;
    text-align: center;
    position: relative;
    top: 95px;
}
#hanoh{
    display: none;
    text-align: center;
    position: relative;
    top: 95px;
}
#HomeContent{
    font-size: 20px;
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
    display: none;
    text-align: center;
}
#OurTeam{
    text-align: center;
}
/* .navbar-fixed {
    top: 0;
    z-index: 100;
  position: fixed;
    width: 100%;
} */
.rounddiv{
    background-color: aqua;
    /* border: 2px solid aqua; */
    border-radius: 75px;
    width: 150px;
    height: 150px;
    transition: background-color 0.3s ease-out;
    /* position: relative; */ 
    margin: 35px;  
}

.rounddiv:hover{
    background: gray;
    transition: background-color 0.3s ease-in;
    position: relative;
}

